:global {
  @import "bs.css";
  @import "font-awesome.css";
  @import url("https://fonts.googleapis.com/css?family=Montserrat");
}

@import "base-skeleton";
@import "header";
@import "sidebar";
@import "base-page";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.u-acceptColor,
.u-addColor {
  color: MediumSeaGreen;
}

.u-editColor {
  color: blue;
}

.u-cancelColor,
.u-deleteColor {
  color: red;
}

.u-animate {
  transition: all ease 0.2s;

  &Hidden {
    visibility: none;
    opacity: 0;

    & > .panel {
      display: none;
    }
  }

  &Show {
    visibility: visible;
    opacity: 1;

    & > .panel {
      display: block;
    }
  }
}

*:disabled .u-acceptColor,
*:disabled .u-addColor,
*:disabled .u-cancelColor,
*:disabled .u-deleteColor,
*:disabled .u-editColor {
  color: grey
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* APP  Styles */
span + .AppSection {
  width: 100%;
  margin-left: 0 !important;
}

.AppSection {
  @media (min-width: 768px) {
    margin-left: 200px;
  }
}

.horizontal-separator {
  clear: both;
  margin-bottom: 15px;
}

main {
  width: 100%;
}

.background-img {
  background: linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,.7)),
    url("../components/img/street-bg.jpg");
  background-size: cover;
  min-width:150%
  margin-left: -25%;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  overflow-y: hidden;
  z-index: -1;
}

.border-bold {
  background-color: rgb(240,240,240);
  border: 2px ridge LightGray;
  border-radius: 1rem;
  padding: 0 2% 2% 2%;
  margin: 0% 2% 5% -2%;
  line-height: 0.8em;
  width: 100%;
}

.border-print {
  border-radius: 1rem;
  padding: 0 5% 2% 5%;
  margin: 0 -20% 5% -5%;
  background-color: rgb(240,240,240);
  border: 2px ridge LightGray;
  width: 140%;
}



.footer-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  text-align: center;
  padding: 5px;
}
