.home-title {
  font-size: 7vw;
  font: Georgia, serif;
}

.home-title-year {
  font-size: 15em;
  text-align: center;
  color: #4b99b1;
}

.img-text-centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-text-bottom-right {
  color: white;
  position: absolute;
  bottom: 2%;
  right: 2%;
  transform: translate(-50%, -50%);
}
