

.background-img {
  background: linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,.7)),
    url("../components/img/plan.jpeg");
  background-size: cover;
  min-width:150%
  margin-left: -25%;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  overflow-y: hidden;
  z-index: -1;
}
