.Sidebar {
  padding: 0;

  .nav {
    background-color: #222;

    @media(min-width: 768px) {
      position: fixed;
      top:0;
      bottom: 0;
      left: 0;
      padding: 50px 0 0;
      width: 200px;

      &>li>a.active:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 25px solid #fff;
      }
    }

    & li a {
      padding: 15px;
    }

    & li a,
    & li a:visited {
      color: #9d9d9d;
    }

    & li a:hover,
    & li a:focus,
    & li a.active {
      outline: none;
      background-color: #000;
      color: #fff;
    }

    &>li>ul {
      padding: 0;
    }
  }
}
